.colorTop{
    background-color: #198754;
    
}
.ColorFondo{
    background-color: rgb(225,205,152);
}
.fotoFondo{
    background-image: url(CactusPortada.webp);
    height: 100vmin;
}

.AlturaPagonaInical{
    height: 32%;
}


.sombraCuerpo{
    box-shadow: 0px 6px 5px 5px rgba(0,0,0,0.23);
}



/*PAGINA INICIAL CUADRO CENTRAS*/
.cuadroCentral{
    background-color: #fff;
    color: #14804E;
}
/*PAGINA INICIAL CUADRO CENTRAS*/

/* Altura de las fotos en vmax y vmin */
/*Formato SVG(O png a las malas) Para logos*/
/*Webp(O jpeg a las malas) para fotos */
