.colorTop{
    background-color: #198754;
    
}
.ColorFondo{
    background-color: rgb(225,205,152);
}
.fotoFondo{
    background-image: url(CactusPortada.jpg);
    height: 100vmin;
}

.sombraCuerpo{
    box-shadow: 0px 6px 5px 5px rgba(0,0,0,0.23);
}

/* Altura de las fotos en vmax y vmin */
/*Formato SVG(O png a las malas) Para logos*/
/*Webp(O jpeg a las malas) para fotos */
